@import "../styles/variables";

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
  color: black;
  background: #838271;
  border: 4px solid rgb(11, 11, 11);
  border-radius: 20px;
  gap: 10px;

  img {
    width: 70%;
    height: 70%;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px;
  }

  .text {
    ul {
      padding-left: 16px;
    }
  }

  .button {
    width: 150px;
    height: 40px;
    margin-top: 20%;
    margin-left: -5%;
    margin-bottom: 10%;
  }

  button:hover {
    background: $secondary-color;
    background: $active-button-color;
  }

  .modalopening {
    position: relative;
  }
}
