.menu {
  .backtomenu {
    color: white;
    margin-left: 42%;
    font-size: 220%;
  }

  .backtomenu:hover {
    color: #ebba38;
  }

  .menubg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
}
